<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>local.voice-stick.app</string>
    <key>CFBundleName</key>
    <string>VoiceStickApp</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>VoiceStick uses Bluetooth to connect to the VoiceStick microphone.</string>
</dict>
</plist>
